.code-highlight {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 1em;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: normal;
  overflow: auto;
  tab-size: 2;
  line-height: 1.2;
}