// theme variables

$kwd_color: #8959a8;
$tag_color: #3e9edf;
$attrName_color: #87beda;
$attrValue_color: #b27e68;
$selector_color: #b9a16d;
$num_color: #4ec98f;
$comment_color: #969896;
$str_color: #b26e66;
$url_color: #690;
$property_color: #905;

